# 飞书多维表格配置
FEISHU_APP_ID=cli_a90716a41df91bd7
FEISHU_APP_SECRET=0Clk4zaqwHd3K46eT3HL3elGLq3rzGgL
FEISHU_APP_TOKEN=KhV9bKFsHadmsysLgDccWs6enxh
FEISHU_TABLE_ID=tblmIWN7ZXmVymZV

# 飞书多维表格在线访问链接
# https://ezdfwkuez6.feishu.cn/base/KhV9bKFsHadmsysLgDccWs6enxh
